<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="freezerGlobal">
      <section name="freezerConfiguration" type="Freezer.Configurations.FreezerConfigurationHandler, Freezer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <freezerGlobal>
    <freezerConfiguration
      minimumWorkerCount="2"
      maximumWorkerCount="8"
      defaultAcceptLanguageHeader="en"
      defaultBrowserWidth="1366"
      defaultBrowserHeight="768"
      defaultCaptureTimeoutSeconds="60"
      >
    </freezerConfiguration>
  </freezerGlobal>
</configuration>